##### Dataset

In [3]:
# https://mitu.co.in/dataset 
# Download -> BostonHousing.csv letterdata.csv

In [1]:
import pandas as pd

In [4]:
pwd

'/home/mitu/dl-dvvp'

In [5]:
df = pd.read_csv('BostonHousing.csv')
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [6]:
# Seeparate the input and output variables
x = df.drop('medv', axis = 1)
y = df['medv']

In [7]:
x

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [8]:
x.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [10]:
# Feature Scaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_scaled = scaler.fit_transform(x)

In [11]:
pd.DataFrame(x_scaled).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,0.040544,0.113636,0.391378,0.069170,0.349167,0.521869,0.676364,0.242381,0.371713,0.422208,0.622929,0.898568,0.301409
std,0.096679,0.233225,0.251479,0.253994,0.238431,0.134627,0.289896,0.191482,0.378576,0.321636,0.230313,0.230205,0.197049
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000851,0.000000,0.173387,0.000000,0.131687,0.445392,0.433831,0.088259,0.130435,0.175573,0.510638,0.945730,0.144040
50%,0.002812,0.000000,0.338343,0.000000,0.314815,0.507281,0.768280,0.188949,0.173913,0.272901,0.686170,0.986232,0.265728
75%,0.041258,0.125000,0.646628,0.000000,0.491770,0.586798,0.938980,0.369088,1.000000,0.914122,0.808511,0.998298,0.420116
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
# Cross-validation
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled ,y ,random_state=0)

In [16]:
x_train.shape

(379, 13)

In [17]:
x_test.shape

(127, 13)

In [ ]:
pip install tensorflow keras

In [19]:
from keras.models import Sequential
from keras.layers import Input, Dense

In [36]:
model = Sequential()

# define input layer
model.add(Input((13,)))

# define first hidden layer
model.add(Dense(16, activation = 'relu'))

# define second hidden layer
model.add(Dense(8, activation = 'relu'))

# define outpu t layer
model.add(Dense(1))

In [37]:
model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_5 (Dense)                 │ (None, 16)             │           224 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 8)              │           136 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 1)              │             9 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 369 (1.44 KB)

 Trainable params: 369 (1.44 KB)

 Non-trainable params: 0 (0.00 B)

In [38]:
# Compile the model
model.compile(loss='mean_absolute_error', optimizer = 'adam')

In [39]:
# train the model
model.fit(x_train, y_train, epochs=50, batch_size=1)

Epoch 1/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 18.3257
Epoch 2/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 7.0566
Epoch 3/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 5.4676
Epoch 4/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 5.4389
Epoch 5/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 4.7037
Epoch 6/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 4.7480
Epoch 7/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 4.5753
Epoch 8/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 4.1966
Epoch 9/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3.6394
Epoch 10/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3.5946
Epoch 11/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3.0960
Epoch 12/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3.1460
Epoch 13/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3.5138
Epoch 14/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3.0876
Epoch 15/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3.0798
Epoch 16/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 3.3050
Epoch 17/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 3.0835
Epoch 18/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2.8278
Epoch 19/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.7745
Epoch 20/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.7908
Epoch 21/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.8400
Epoch 22/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.6330
Epoch 23/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.5626
Epoch 24/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3.0105
Epoch 25/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.6893
Epoch 26/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.7803
Epoch 27/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.5062
Epoch 28/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 2.3433
Epoch 29/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3.0113
Epoch 30/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.7714
Epoch 31/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.2590
Epoch 32/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.7877
Epoch 33/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.8343
Epoch 34/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2.7088
Epoch 35/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.4209
Epoch 36/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.4847
Epoch 37/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.4788
Epoch 38/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.6388
Epoch 39/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.5880
Epoch 40/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.4268
Epoch 41/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 2.6268
Epoch 42/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.4704
Epoch 43/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 2.4943
Epoch 44/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.5117
Epoch 45/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 2.6570
Epoch 46/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 2.5104
Epoch 47/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 2.5593
Epoch 48/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 2.5221
Epoch 49/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 2.3209
Epoch 50/50
379/379 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 2.3508

In [41]:
# Evaluate the algorithm
model.evaluate(x_test, y_test, batch_size=1)

127/127 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 3.6243

3.149794101715088

In [43]:
# R-squared error
y_pred = model.predict(x_test)

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

In [44]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.6529838646143221

In [45]:
# predict on new data
new = x.iloc[[127,341],:]

In [46]:
new

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
127,0.25915,0.0,21.89,0,0.624,5.693,96.0,1.7883,4,437,21.2,392.11,17.19
341,0.01301,35.0,1.52,0,0.442,7.241,49.3,7.0379,1,284,15.5,394.74,5.49

In [47]:
model.predict(scaler.transform(new))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step

array([[16.690702],
       [32.649734]], dtype=float32)

In [51]:
new.loc[341,'indus'] = 15.34

In [52]:
model.predict(scaler.transform(new))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step

array([[16.690702],
       [31.279762]], dtype=float32)